<section class="bg-sec text-white text-center ">
  <div class="container p-5">
    <div class="row g-4">
      <div class="col-md-4">
        <p class="fw-bold fs-4">LOCATION</p>
        <p>2215 John Daniel Drive

        </p>
        <p>Clark, MO 65243</p>
      </div>
      <div class="col-md-4 d-flex flex-column  align-items-center">
        <p class="fw-bold fs-4">AROUND THE WEB</p>
        <div class="social-icons d-flex justify-content-center align-items-center">
          <div class="social">
           <a href="https://github.com/MohammedAnani" target="_blank"> <i class="fa-brands fa-github p-2"></i></a>
          </div>
          <div class="social">
            <a href="https://wa.me/201556388432" target="_blank"><i class="fa-brands fa-facebook p-2"></i></a>
          </div>
          <div class="social">
            <a href="https://wa.me/201556388432" target="_blank"><i class="fa-brands fa-whatsapp p-2"></i></a>
          </div>
          <div class="social">
            <a href="https://www.linkedin.com/in/mohammedanani/" target="_blank"><i class="fa-brands fa-linkedin-in   p-2"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <p class="fw-bold fs-4">ABOUT FREELANCER</p>
        <p>Freelance is a free to use, licensed Bootstrap theme created by Route

        </p>

      </div>
    </div>

  </div>
  <div class="end-footer text-center text-white ">
    Copyright © Your Website 2025
  </div>
</section>

<!--  -->
