<div class="bg-sec fixed-top z-2 ">

  <nav class=" container navbar navbar-expand-lg bg-sec  text-white fw-bold " [class.py-4]="isScrolling">
    <div class="container-fluid">
      <a class="navbar-brand text-white text-uppercase  fs-md-3" routerLink="" >Start Framework
      </a>
      <button #toggler class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div #navbarNav class="collapse navbar-collapse"  id="navbarNav">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link text-white text-uppercase" routerLink="home" routerLinkActive="icons">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="about" routerLinkActive="icons">ABOUT</a>
          </li>
          <li class="nav-item mx-md-2">
            <a class="nav-link text-white" routerLink="portfolio" routerLinkActive="icons">PORTFOLIO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="contact" routerLinkActive="icons">CONTACT</a>
          </li>

        </ul>

      </div>
    </div>
  </nav>

</div>
