<section class="py-4">
 <div class="w-100 mx-auto contact px-2">
  <app-star [stringFromHome]="'conatct section'" [customColor]="'#2C3E50'" class="text-center"></app-star>


  <div class="form-floating mb-3">
    <input type="text" class="form-control border-end-0 border-start-0 border-top-0" id="floatingInput" placeholder="userName" name="userName">
    <label for="floatingInput">userName :</label>
  </div>
  <div class="form-floating mb-3">
    <input type="number" class="form-control border-end-0 border-start-0 border-top-0" id="floatingInput" placeholder="userAge" name="userAge">
    <label for="floatingInput">userAge :</label>
  </div>
  <div class="form-floating mb-3">
    <input type="email" class="form-control border-end-0 border-start-0 border-top-0" id="floatingInput" placeholder="userEmail" name="userEmail">
    <label for="floatingInput">userEmail :</label>
  </div>
  <div class="form-floating mb-3">
    <input type="password" class="form-control border-end-0 border-start-0 border-top-0" id="floatingInput" placeholder="userPassword" name="userPassword">
    <label for="floatingInput">userPassword :</label>
  </div>
  <button type="button" class="btn">Send Message</button>

 </div>
</section>
