<section class="text-color text-center p-5">
  <div class="container">
    <app-star [stringFromHome]="'portfolio component'" [customColor]="'#2C3E50'"></app-star>

    <div class="row g-3">
      @for (item of imagesPortfolios; track $index) {
        <div class="col-md-4">
          <figure class="position-relative" (click)="isHiding=false ;modelImage= item">
            <img  [src]="item" alt="" class="w-100 ">
            <figcaption class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center justify-content-center bg-black   ">
              <i class="fa-solid fa-plus fa-6x text-white"></i>
            </figcaption>
          </figure>
        </div>
      }
    </div>
  </div>


</section>
<div  [class.d-none]="isHiding" (click)="clickMe($event.target ,img)" class="model position-fixed start-0 h-100 w-100 top-0 d-flex justify-content-center align-items-center z-3" >

  <img #img [src]="modelImage" alt="" class=" m-5 rounded-3">

</div>
